{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}印第安酋长{% endblock %}


{% block page_content %}
<div class="row">
<div class="col-sm-8 articles">
    {% for article in articles%}
    <div class="article">
        <div class="article-title">
            <a href="{{ url_for('.article',id=article.id) }}">
                <h5><!--<span class="glyphicon glyphicon-link"></span>-->{{ article.title }}</h5>
            </a>
        </div>
        <a href="{{ url_for('.article',id=article.id) }}">
            <div class="article_body">
                {% if article.body_html %}
                    {{ article.body_html | safe | truncate(200,  killwords=False, end='...') }}
                {% else %}
                    {{ article.body | safe | truncate(300,killwords=False,end='.......') }}
                {% endif%}
            </div>
        </a>
        <div class="row">
            <a class="article_tag" href="{{ url_for('.item',tag = article.item.tag) }}">
                <span class="label label-info">
                {{ article.item.tag }}
                </span>
            </a>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('.edit',id=article.id)}}">
                    <span class="label label-primary">编辑</span>
                </a>
            {% endif %}
            <p class="article_time">{{ moment(article.timestamp).format('YYYY-MM-DD HH:mm:ss') }} </p>
        </div>
    </div>
    {% endfor %}
</div><!--/.articles-->

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    {% block sidebar %}
        <div class="sidebar-module sidebar-module-inset">
            <h4>个人说明</h4>
                <p>本网站为印第安酋长(小猛)个人博客</p>
        </div>
        <div class="sidebar-module">
            <h4>相关链接</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/">GitHub</a></li>
                    <li><a href="http://www.lnts.com.cn/">鲁能泰山官方网站</a></li>
                    <li><a href="http://www.zhibo8.cc/index.html">直播8</a></li>
                </ol>
        </div>
        <div class="sidebar-module">
            <div id="cyReping" role="cylabs" data-use="reping"></div>
            </div>
        {% endblock %}
</div><!-- /.blog-sidebar -->

</div><!--/.row-->

<div class="col-lg-offset-5 col-sm-offset-5">
    {{ macros.pagination_widget(pagination,'.index') }}
</div>

{% endblock %}



{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

