{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}印第安酋长{% endblock %}
{% block page_image %}
    <div class="container-fluid">
        <div class="row">
            <div class="image_header col-lg-12" style="height: 400px;background-image: url('http://imgsrc.baidu.com/forum/pic/item/902397dda144ad345d1edb20d0a20cf430ad85f7.jpg')">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="page_title">
                            {% for article in articles %}
                                <h4 style="line-height: 300px;"><span style="font-size:35px;" class="glyphicon glyphicon-tag"></span> {{ article.item.tag }}</h4>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    <div>
{% endblock %}
{% block page_content %}
<ul class="articles">
    {% for article in articles %}
    <div class="article">
        <div class="article_title">
            <a href="{{ url_for('.article',id=article.id) }}">
                <h5><span class="glyphicon glyphicon-link"></span> {{ article.title }}</h5>
            </a>
        </div>
        <a href="{{ url_for('.article',id=article.id) }}">
            <div class="article-body">
                {% if article.body_html %}
                    {{ article.body_html | safe | truncate(200,  killwords=False, end='...') }}

                {% endif %}
            </div>
        </a>

        <div class="row">
            <a class="col-lg-2 col-sm-2 col-xs-2 article_tag" href="{{ url_for('.item',tag = article.item.tag) }}">
                <span class="label label-info">
                {{ article.item.tag }}
                </span>
            </a>
            <p class="col-lg-3 col-sm-3 col-xs-7 col-xs-offset-5 col-sm-offset-9 col-lg-offset-9 article_time">{{ moment(article.timestamp).format('YYYY-MM-DD HH:mm:ss') }} </p>
        </div>


        <hr />

    </div>
    {% endfor %}
</ul>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

